<?xml version='1.0' encoding='utf-8'?>
<plugin id="PluginBridge" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>PluginBridge</name>
    <js-module name="AppUpdater" src="www/AppUpdater.js">
        <clobbers target="AppUpdater" />
   	</js-module>
   	<js-module name="ErrorCrash" src="www/ErrorCrash.js">
        <clobbers target="ErrorCrash" />
   	</js-module>
   	<platform name="android">
   	    <config-file parent="/*" target="res/xml/config.xml">
   	        <feature name="AppUpdater">
   	            <param name="android-package" value="com.cf.code.plugins.AppUpdater" />
   	       	</feature>
   	       	<feature name="ErrorCrash">
   	            <param name="android-package" value="com.cf.code.plugins.ErrorCrash" />
   	       	</feature>
   	   	</config-file>
   	   	<config-file parent="/*" target="AndroidManifest.xml">
   	   	    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	   	</config-file>
   	   	<source-file src="src/android/AppUpdater.java" target-dir="src/com/cf/code/plugins" />
   	   	<source-file src="src/android/ErrorCrash.java" target-dir="src/com/cf/code/plugins" />
  	</platform>
</plugin>